body {
    font-family: sans-serif;
    padding: 10px;
    width: 220px;
    background-color: rgb(69, 57, 70);
    color: white;
}

button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

span {
    font-size: 14px;
    color: white;
}

#balanceDisplay {
    font-weight: bold;
    color: white !important; /* Erzwingt die weiße Farbe */
}

.switch-container {
    display: flex;
    align-items: center; /* Align text and switch vertically */
    justify-content: space-between; /* Add space between text and switch */
    margin-top: 10px;
}

.switch-container span {
    margin-right: 10px; /* Optional spacing between text and switch */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0d0d0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(71, 71, 71);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #818080;
}

input:focus + .slider {
    box-shadow: 0 0 1px #818080;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px); /* Adjusted to align properly */
    -ms-transform: translateX(16px); /* Adjusted to align properly */
    transform: translateX(16px); /* Adjusted to align properly */
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
